.navbar{
    display: flex;
    justify-content:space-between;
    position: fixed;
    top: 10px;
    box-sizing: border-box;
    background-color: rgba(4, 5, 5, 0.4);
    text-transform: capitalize;
    width: 98vw;
    border-radius: 5px;
    margin-top: 0px;
}
.nav-menu ul{ 
    display: flex;
    gap: 20px;
    font-size: 30px;
}
*{
    text-decoration: none;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.logo{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: white;
}
.text{
    margin-top: 60px;
    padding: 10px;   
}
.nav-menu ul li a{
    color: white;
}
